<app-main-header
  class="layout-header"
  [menuToggleEnabled]="true"
  (menuToggle)="menuOpened = !menuOpened;"
  (TitleClick)="navigationTitle()"
  [title]="title">
</app-main-header>

<dx-drawer
  class="layout-body"
  position="before"
  [closeOnOutsideClick]="shaderEnabled"
  [openedStateMode]="menuMode"
  [revealMode]="menuRevealMode"
  [minSize]="minMenuSize"
  [shading]="shaderEnabled"
  [(opened)]="menuOpened">

  <app-sider-navigation-menu
    [compactMode]="!menuOpened"
    [selectedItem]="selectedRoute"
    class="dx-swatch-additional card-color"
    *dxTemplate="let dataMenu of 'panel'"
    (selectedItemChanged)="navigationChanged($event)"
    (openMenu)="navigationClick()">
  </app-sider-navigation-menu>

  <dx-scroll-view
    id="scrollViewMain"
    #scrollViewMain
    [useNative]="true">
    <div class="content">
      <ng-content style="justify-content: stretch;"></ng-content>
    </div>
  </dx-scroll-view>
</dx-drawer>
