<form class="dx-card responsive-paddings formGrid" [formGroup]="formModel" (ngSubmit)="submit()">
  <h1>Tworzenie rozdziału</h1>
  <div class="responsive-paddings">
    <app-normal-control [props]="{label:'Tytuł', formControl:title, placeHolder:'Podaj tytuł'}"></app-normal-control>
  </div>
  <div class="responsive-paddings text-area">
    <app-text-area-control [props]="{label:'Treść Rozdziału', formControl:file, placeHolder:'Napisz rozdział...', type:1, isLabelVisible:true}"></app-text-area-control>
  </div>
  <div class="responsive-paddings">
    <dx-button class="responsive-paddings border-curved" (click)="submit()" type="submit">Stwórz</dx-button>
  </div>
</form>
