<div class="information-box">
  <div class="information-item">
    <i
      class="fa fa-comments icon"
      [ngStyle]="{'color': information.commentCount > 0 ? 'black' : 'dimgray'}"
      aria-hidden="true"></i>
    <span class="information-info">{{information.commentCount}}</span>
  </div>
  <div class="information-item">
    <i
      class="fa fa-thumbs-up icon"
      [ngStyle]="{'color': isLike ? 'green' : 'dimgray'}"
      aria-hidden="true"
      (click)="clickLike()"
    ></i>
    <span class="information-info">{{information.likeCount}}</span>
  </div>
  <div class="information-item">
    <i
      class="fa fa-thumbs-down icon"
      [ngStyle]="{'color': isDislike ? 'green' : 'dimgray'}"
      aria-hidden="true"
      (click)="clickDislike()"
    ></i>
    <span class="information-info">{{information.dislikeCount}}</span>
  </div>
  <div class="information-item">
    <span class="information-info">
      Opublikowano: <span style="font-weight: bold; text-align: center;">{{publicationDate}}</span>
    </span>
  </div>
</div>
<div *ngIf="isPopupVisible">
  <app-popup-message
    [isPopupVisible]="isLogged"
    [message]="'Ta akcja wymaga bycia zalogowanym'"
    (HidePopupEvent)="hidePopup()"
  ></app-popup-message>
</div>
