.workpiece-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  /* grid-template-rows: 100px 200px; */
  justify-content: center;
}

.sort-box{
  max-width: 200px;
  margin-left: 35px;
  margin-top: 10px;
}
