<tr class="input-box">
  <div class="input-label">{{controlProp.label}}</div>
  <textarea class="text-input" [formControl]="controlProp.formControl"></textarea>
  <!-- <section *ngIf="isWrongDate">
    <app-form-validation [isWrong]="username?.errors?.['required']" [message]="messages[7]"></app-form-validation>
    <app-form-validation [isWrong]="username?.errors?.['minlength']" [message]="messages[8]"></app-form-validation>
  </section> -->
  <!-- <app-form-validation [isWrong]="isUsedEmail" [message]="messages[9]"></app-form-validation> -->
</tr>
