<div>
  <div class="user-workpiece">
    <app-read-workpiece [workpiece]="workpiece"></app-read-workpiece>
    <app-read-chapter-navbar
      (ChapterChooseEvent)="handleChapterChooseEvent($event)"
      [props]="{chapters:workpiece.chapters, currentChapter:currentChapterNumber}"
    >
    </app-read-chapter-navbar>
  </div>
  <div>
    <app-read-box [inputProps]="{workpieceId:workpiece.workpiece.id, chapterNumber:currentChapterNumber, readHistory:readHistory}"></app-read-box>
  </div>
  <div>
    <app-read-comment-box [props]="workpiece.workpiece.id"></app-read-comment-box>
  </div>
</div>
