<div
  class="post-read-box dx-card border-curved responsive-paddings"
  [ngStyle]="{'height': isExtended ? 'auto' : '300px'}"
>
  <div
    class="post-read-grid"
    [ngStyle]="{'grid-template-rows': isExtended ? 'minmax(50px, 75px) minmax(150px, 450px) 75px' : 'minmax(50px, 75px) 150px 50px'}"
  >
    <div class="post-author">
      <app-author-label [props]="{author:post.author, isSubscribedVisible:true}"></app-author-label>
    </div>
    <div
      class="post-content"

    >
      <!-- <dx-text-area
        [value]="content"
        [readOnly]="true"
        [focusStateEnabled]="false"
        [hoverStateEnabled]="false"
        height="90%"
        width="90%"
        [stylingMode]="'underlined'"
      ></dx-text-area> -->
      <textarea
        class="post-content-area" [readOnly]="true"
        [ngStyle]="{'height': isExtended ? '100%' : '100px'}"
      >
        {{isTextOverflow ? content + "..." : content }}
      </textarea>
      <strong class="read-more" (click)="ShowComment()">{{isTextOverflow ? " Czytaj Więcej" : "" }}</strong>
      <!-- <div *ngFor="let image of post.images">
        <img [src]="image" alt="PNG Image"/>
      </div> -->

    </div>
    <div class="post-information">
      <app-information-label [props]="{
        targetId:post.id,
        information:post.information,
        object:reactionObject
      }"></app-information-label>
      <span class="post-read-comments text-color" (click)="ShowComment()">
        Napisz Komentarz
      </span>
      <div *ngIf="isPopupVisible">
        <app-popup-post-read [post]="post" [searchParam]="searchParam" [isPopupVisible]="true" (HidePopupEvent)="onPopupHiding($event)"></app-popup-post-read>
      </div>
    </div>
  </div>
</div>
