.dx-control{
  width:100%;
  height: 100%;
}

.input-box{
  /* min-width: 300px;
  max-width: 400px;
  width: auto;

  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch; */

  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.input-label{
  margin: 5px;
  font-size:x-large;
  text-align: center;
}

.text-input{
  font-size:x-large;
  padding: 5px;
  border: 4px solid gray;
  background-color: white;
  border-radius: 24px;
  margin: 5px;
  text-align: center;
  width: 100%;
  height: auto
}

.text-input:focus{
  border-color: green;
  box-shadow: green;
  outline: none;
}

.comment-text-input{
  min-width: 600px;
  width: 100%;
  height: auto;
  font-size: medium;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: start;
  border: 2px transparent;
  border-radius: 25px;
  border-bottom: 2px solid dimgray;
  background-color: var(--background-color);
  resize: none;
}

.comment-text-input:focus{
  border-color: green;
  box-shadow: green;
  outline: none;
}

.workpiece-text-input{
  min-height: 600px;
  width: 90%;
  height: 100%;
  font-size: large;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: start;
  border: 4px transparent;
  border-radius: 25px;
  border-bottom: 4px solid dimgray;
  border-top: 4px solid dimgray;
  background-color: var(--background-color);
  resize: none;
}

.workpiece-text-input:focus{

}

.post-text-input{
  min-width: 400px;
  min-height: 100px;
  width: 100%;
  height: auto;
  font-size: large;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: start;
  border: 2px transparent;
  border-radius: 25px;
  border-bottom: 2px solid dimgray;
  border-top: 2px solid dimgray;
  background-color: var(--background-color);
  resize: none;
}

.post-text-input:focus{
  border-color: green;
  box-shadow: green;
  outline: none;
}

.description-text-input{
  min-height: 138px;
  width: 90%;
  height: 100%;
  font-size: large;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: start;
  border: 4px transparent;
  border-radius: 25px;
  border-bottom: 4px solid dimgray;
  border-top: 4px solid dimgray;
  background-color: var(--background-color);
  resize: none;
}

.description-text-input:focus{
  border-color: green;
  box-shadow: green;
  outline: none;
}
