.post-workpiece-list-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  /* grid-template-rows: 100px 200px; */
  place-items: center;
}

.sort-box{
  max-width: 200px;
  margin-left: 35px;
  margin-top: 10px;
}
