.information-box{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: lightgray; */
}

.information-item{
  display: flex;
  margin: 5px;
  padding: 5px;
  font-size: medium;
  border-radius: 24px;

}

.information-icon{
  margin-left: 2px;
  margin-right: 2px;
}

.information-info{
  margin-left: 2px;
  margin-right: 2px;
}
