<dx-popup
  [(visible)]="isPopupVisible"
  [showTitle]="true"
  title="Edytuj Profil"
  contentTemplate="popup-content">
  <div *dxTemplate="let data of 'popup-content'">
    <form [formGroup]="formModel" (ngSubmit)='submit()'>
      <app-normal-control [props]="{label:'Nazwa Użytkownika', formControl:username, placeHolder:'Podaj nazwę Użytkownika'}"></app-normal-control>
      <app-text-area-control [props]="{label:'Opis Uzytkownika', formControl:description, placeHolder:'Napisz Opis...', type:3, isLabelVisible:true}"></app-text-area-control>
      <app-file-control [controlProp]="{label:'Zdjęcie Profilowe', formControl:image}"></app-file-control>
      <app-file-control [controlProp]="{label:'Zdjęcie w tle', formControl:imageSecond}"></app-file-control>
      <tr>
        <dx-button class="responsive-paddings" type="submit" (onClick)="submit()">Zatwierdź</dx-button>
      </tr>
    </form>
    <tr>
      <dx-button class="responsive-paddings" (onClick)="cancel()">Anuluj</dx-button>
    </tr>
    <app-popup-confirm [message]="'Czy napewno chcesz zakończyć edycję ?'" [isPopupVisible]="isConfirmVisible" (HidePopupEvent)="onPopupConfirmed($event)"></app-popup-confirm>
  </div>
</dx-popup>
