<div>
  <form [formGroup]="formModel" (ngSubmit)='submit()'>
  <app-normal-control [controlProp]="{label:'Nazwa Użytkownika', formControl:username}"></app-normal-control>
    <app-file-control [controlProp]="{label:'Profilowe', formControl:image}"></app-file-control>
    <tr>
      <button class="button-submit" type="submit">Zatwierdź</button>
    </tr>
  </form>
    <!-- <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      Optional custom content that replaces the the entire default content.
      <button type="button" (click)="openFileSelector()">Browse Files</button>
    </ng-template>
    </ngx-file-drop> -->
</div>
