<nav class="navbar">
  <ul class="bars">
    <li class="bar">
      <a class="nav-link" (click)="navigateToSearch()">Szukaj</a>
    </li>
    <li class="bar">
      <a class="nav-link" (click)="navigateToProfile()">
        <img [src]="profileImage" alt="PNG Image" class="profile-image">
      </a>
    </li>
    <li class="bar">
      <a class="nav-link" (click)="navigateToCreate()">Twórz</a>
    </li>
    <li class="bar">
      <a class="nav-link" (click)="navigateToNewPost()">Napisz Post</a>
    </li>
  </ul>
</nav>
