<dx-tag-box
  [value]="formControl.value"
  class="dx-control"
  style="min-width: 200px;"
  [dataSource]="tags"
  [searchEnabled]="true"
  valueExpr="label"
  displayExpr="label"
  (onValueChanged)="onValueChanged($event)"
  width="100%"
  heigth="100%"
></dx-tag-box>

  <!-- <div class="control-label">{{props.label}}</div>
  <mat-form-field>
    <mat-chip-listbox #chipList>
      <mat-chip *ngFor="let tag of props.formControl.value" (removed)="removeTag(tag)">
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-listbox>
    <input
    type="text"
    [placeholder]="props.placeHolder"
    matInput
    [formControl]="formTag"
    [matAutocomplete]="auto"
    (keydown.enter)="addTag(formTag.value)"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
  </mat-form-field> -->

  <!-- <section *ngIf="isWrongDate">
    <app-form-validation [isWrong]="username?.errors?.['required']" [message]="messages[7]"></app-form-validation>
    <app-form-validation [isWrong]="username?.errors?.['minlength']" [message]="messages[8]"></app-form-validation>
  </section> -->
  <!-- <app-form-validation [isWrong]="isUsedEmail" [message]="messages[9]"></app-form-validation> -->
