<div [id]="'workpiece-carousel-'+ConvertIdToString()" class="workpiece-carousel-box">
  <div class="workpie-carousel">
    <div class="workpiece-title">
      <h1>{{workpiece.title}}</h1>
    </div>
    <div
      class="workpiece-carousel-image"
    >
      <app-workpiece-image-label
        [image]="workpiece.image"
      >
      </app-workpiece-image-label>
      <!-- <div
        class="tooltip"
        [ngStyle]="{'transform': isRight ? 'translate(62.5%, -100%)' : 'translate(-100%, -100%)'}"
        *ngIf="isFocused"
      >
        <app-workpiece-carousel-label [props]="workpiece"></app-workpiece-carousel-label>
      </div> -->
    </div>
    <dx-tooltip
      [visible]="isFocused"
      [target]="'#workpiece-carousel-'+ConvertIdToString()"
      showEvent="dxhoverstart"
      (onShown)="changeFocus()"
      [animation]="{ show: { type: 'pop', from: { scale: 0.8 } } }"
      [position]="{ my:'top' }">
      <div *dxTemplate="let data of 'content'">
        <app-workpiece-carousel-label [props]="workpiece"></app-workpiece-carousel-label>
      </div>
    </dx-tooltip>
  </div>
</div>

