.comment-super-box{
  width: 100%;
  height:auto;
  padding: 5px;
  justify-content: stretch;
}

.comment-read-box{
  min-width: 400px;
  max-width: 800px;
  height:auto;
  /* border: 5px solid gray;
  border-radius: 25px; */
  /* background-color: #f5f5f5; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.comment-read-grid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 25px auto, 55px;
  grid-gap: 5px;
}

.comment-read-author{
  grid-row: 1 / 2;
}

.comment-author-name{
  grid-row: 1 / 2;
  padding-left: 5px;
}

.comment-author-name:hover{
  cursor:pointer;
}

.author-name{
  font-size: large;
  text-align: center;
  font-weight: bold;
}

.comment-read-content{
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  font-size: large;
  color: dimgray;
  padding: 10px;
}

.comment-read-information{
  grid-row: 3 / 4;
  display:flex;
  justify-content: center;
}

.comment-read-response{
  font-size: medium;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  margin: 5px;
  padding: 5px;
}

.comment-read-response:hover{
  cursor: pointer;
}


.comment-answer{
  justify-content: stretch;
  margin-left: 25px;
}

.author-image-box{
  align-self: center;
  min-width: 50px;
  max-width: 75px;
  min-height: 50px;
  max-height: 75px;
  width: 100%;
  height: 100%;
  justify-content: stretch;
  align-self: flex-start;
}

.author-image-box:hover{
  cursor:pointer;
}

.author-image{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 2px solid var(--base-bg);
}
