<div class="comment-super-box">
  <div class="comment-read-box dx-card responsive-paddings border-curved">
    <div class="author-image-box">
      <img class="author-image" [src]="'assets/images/polskagurom.png'" alt="PNG Image">
    </div>
    <div class="comment-read-grid">
      <!-- <div class="comment-read-author">
        <app-author-label [props]="{author:comment.author, isSubscribedVisible:false}"></app-author-label>
      </div> -->
      <div class="comment-author-name">
        <span class="author-name text-color">
          <strong>{{comment.author.username}}</strong>
        </span>
      </div>
      <div class="comment-read-content">
        <span class="text-color">
          {{comment.content}}
        </span>
      </div>
      <div class="comment-read-information">
        <app-information-label [props]="{
          targetId:comment.id,
          information:comment.information,
          object:reactionObject
        }"></app-information-label>
        <span class="comment-read-response text-color" (click)="showAnswers()">
          Pokaż odpowiedzi
          <span *ngIf="isAnswersShown; else iconFalse">
            <i class="fa fa-angle-up icon"></i>
          </span>
          <ng-template #iconFalse>
            <i class="fa fa-angle-down icon"></i>
          </ng-template>
        </span>
        <span class="comment-read-response text-color" (click)="answerComment()">
          Odpowiedz
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="isAnswerComment">
    <app-comment-write [inputProps]="{targetId:comment.targetId, type:comment.commentType, isAnswer:true, commentAnsweredId:comment.id}"></app-comment-write>
  </div>
  <div class="comment-answer" *ngIf="isAnswersShown">
    <app-comment-list [props]="{type:type, searchParam:searchParam}" [isSortByVisible]="false"></app-comment-list>
  </div>
</div>
