<form class="responsive-paddings dx-card border-curved" [formGroup]="formModel" (ngSubmit)="onSubmit()" (change)="onSubmit()">
  <dx-responsive-box>

    <dxi-col></dxi-col>
    <dxi-row></dxi-row>
    <dxi-row></dxi-row>
    <dxi-row></dxi-row>
    <dxi-row></dxi-row>

    <dxi-item style="margin-top: 10px; margin-bottom: 10px; max-width: 550px;">
      <dxi-location screen="xs sm md lg" [row]="0" [col]="0"></dxi-location>
      <div class="center-items" style="justify-content: start;">
        <app-auto-complete-control [controlProps]="{label:'szukaj', placeHolder:'szukaj...', allTags:suggestions}" label="szukaj" placeHolder="szukaj..." [formControl]="searchTerm"></app-auto-complete-control>
        <dx-button
          class="responsive-paddings border-curved standard-margin button-normal"
          style="margin-left: 10px;"
          (click)="onSubmit()">
          <i class="fa fa-search"></i> Szukaj
        </dx-button>
        <!-- <app-select-control [controlProp]="{label:'Sortuj według', formControl:sortBy}" placeholder="sortuj według" [options]="sortByOptions" [valueTag]="'enum'" (SelectedOptionEvent)="sortList($event)"></app-select-control> -->
      </div>
    </dxi-item>
    <dxi-item style="margin-top: 10px; margin-bottom: 10px;">
      <dxi-location screen="xs sm md lg" [row]="1" [col]="0"></dxi-location>
      <app-radio-button-control [props]="{label:'jkjk', placeHolder:'mmm', formControl:dateRange, options:radioOptions}" [valueTag]="'date'"></app-radio-button-control>
    </dxi-item>
    <dxi-item style="margin-top: 10px; margin-bottom: 10px;">
      <dxi-location screen="xs sm md lg" [row]="2" [col]="0"></dxi-location>
      <app-check-box-group-control [props]="{label:'nnnn', placeHolder:'gggg', formControl:genres}"></app-check-box-group-control>
    </dxi-item>
    <dxi-item style="margin-top: 10px; margin-bottom: 10px; max-width: 700px;">
      <dxi-location screen="xs sm md lg" [row]="3" [col]="0"></dxi-location>
      <app-tag-control [formControl]="tags" [controlProps]="{label:'tagi', placeHolder:'Wpisz tagi'}"></app-tag-control>
    </dxi-item>
  </dx-responsive-box>
</form>



 <!-- <app-radio-button-control [props]="{label:'jkjk', placeHolder:'mmm', formControl:dateRange, options:radioOptions}" [valueTag]="'date'"></app-radio-button-control>
  <app-check-box-group-control [props]="{label:'nnnn', placeHolder:'gggg', formControl:genres}"></app-check-box-group-control>
  <app-auto-complete-control [formControl]="tags" [controlProps]="{label:'tagi', placeHolder:'Wpisz tagi'}"></app-auto-complete-control> -->
