/* @import "D:\\Angular_Projects\\YouRead\\src\\themes\\generated\\dx.generic.you-read-scheme.css"; */
.app{
  height: 100%;
}

.app-grid{
  display: grid;
  grid-template-columns: 1fr minmax(400px, 1200px) 1fr;
}

.app-main-page{
  grid-column: 2 / 3;
  justify-content: stretch;
  margin-top: 30px;
}
