
  <div class="workpiece-info-grid">
    <div class="workpiece-image-box">
      <img [src]="props.image" alt="PNG Image" class="workpiece-image">
    </div>
    <div class="workpiece-title-description">
      <div class="workpiece-title">
        <span class="text-color"><strong>{{props.title}}</strong></span>
      </div>
      <dx-text-area
        [value]="props.description"
        [readOnly]="true"
        [focusStateEnabled]="false"
        [hoverStateEnabled]="false"
        [stylingMode]="'underlined'"
        height="100%"
        width="90%"
      >
      </dx-text-area>
      <!-- <div class="workpiece-description">
        {{props.description}}
      </div> -->
    </div>
    <div class="workpiece-extra-info-box text-color">
      <span class="workpiece-extra-info">
        Gatunek: <span style="font-weight: bold; text-align: center;">{{props.genre}}</span>
      </span>
      <span class="workpiece-extra-info">
        Język: <span style="font-weight: bold; text-align: center;">{{props.language}}</span>
      </span>
    </div>
  </div>
