<div class="carousel-box" *ngIf="tokenService.isLoggedIn()">
  <h1 class="text-color">Polecane</h1>
  <app-recomendation-carousel [props]="recomendedWorkpieces" carouselName="Recomended"></app-recomendation-carousel>
</div>

<div class="carousel-box">
  <h1 class="text-color">Na czasie</h1>
  <app-recomendation-carousel [props]="trendedWorkpieces" carouselName="Trending"></app-recomendation-carousel>
</div>

<div class="carousel-box">
  <h1 class="text-color">Kategorie</h1>
  <app-recomendation-genre-carousel [props]="genres"></app-recomendation-genre-carousel>
</div>

<div class="carousel-box" *ngIf="tokenService.isLoggedIn()">
  <h1 class="text-color">Posty</h1>
  <app-recomendation-post-carousel [props]="recomendationPostParams"></app-recomendation-post-carousel>
</div>

<div class="carousel-box" *ngIf="tokenService.isLoggedIn()">
  <h1 class="text-color">Ostatnio czytane</h1>
  <app-recomendation-carousel [props]="historyWorkpieces"></app-recomendation-carousel>
</div>
