<div class="author-label-box">
  <div class="author-label-grid" >
    <div class="author-image-box" (click)="goToProfile()">
      <img class="author-image" [src]="author.image" alt="PNG Image">
    </div>
    <div class="author-box" (click)="goToProfile()">
      <span class="author-name text-color">
        <strong>{{author.username}}</strong>
      </span>
      <span class="author-subscriptions text-color">
        {{author.subscribers}} subskrybentów
      </span>
    </div>
    <div class="author-subscription-button" *ngIf="isSubscribedVisible">
      <dx-button
        class="responsive-paddings border-curved standard-margin"
        [ngClass]="isSubscribed ? 'clicked-button' : 'button-normal' "

        (click)="subscribe()"
      >
        <i class="fa fa-bell" aria-hidden="true"></i>
        {{ isSubscribed ? 'Zasubskrybowano' : 'Subskrybuj' }}
      </dx-button>
    </div>
  </div>
</div>
