<div class="workpiece-carousel-box">
  <div class="workpie-carousel">
    <div class="workpiece-title">
      <h1>{{workpiece.title}}</h1>
    </div>
    <div
      class="workpiece-carousel-image"
      (mouseenter)="changeFocus(true)"
      (mouseleave)="changeFocus(false)"
    >
      <app-workpiece-image-label
        [image]="workpiece.image"
      >
        <app-workpiece-label [props]="{workpiece:workpiece, isAuthorVisible:true}"></app-workpiece-label>
      </app-workpiece-image-label>
      <div
        class="tooltip"
        [ngStyle]="{'transform': isRight ? 'translate(62.5%, -150%)' : 'translate(-100%, -100%)'}"
        *ngIf="isFocused"
      >
        <app-workpiece-carousel-label [props]="workpiece"></app-workpiece-carousel-label>
      </div>
    </div>
  </div>
</div>
