<dx-select-box
  [value]="controlProp.formControl.value"
  [dataSource]="options"
  [valueExpr]="valueTag"
  [displayExpr]="labelTag"
  (onValueChanged)="onValueChanged($event)"
  width="100%"
  heigth="100%"
></dx-select-box>

<!-- <tr class="control-box">
  <div class="control-label">{{controlProp.label}}</div>
  <select class="control-input" [formControl]="controlProp.formControl">
    <option *ngFor="let option of options" [value]="option.enum">{{option.label}}</option>
  </select>
</tr> -->
