.inputBox{
  padding: 5px;
  border: 4px solid gray;
  background-color: white;
  border-radius: 24px;

}

.inputLabel{
  margin: 10px;
  font-size:x-large;
  align-items: center;
}

.dx-control{
  width: 100%;
}
