<div class="comment-read-box">
  <div class="comment-read-grid">
    <div class="comment-read-author">
      <app-author-label [author]="comment.author"></app-author-label>
    </div>
    <div class="comment-read-content">
      {{comment.content}}
    </div>
    <div class="comment-read-information">
      <app-information-label [props]="{
        targetId:comment.id,
        information:comment.information,
        object:reactionObject
      }"></app-information-label>
      <span class="comment-read-response">
        Pokaż odpowiedzi
        <i class="fa fa-angle-down icon" aria-hidden="true"></i>
      </span>
      <span class="comment-read-response" (click)="answerComment()">
        Odpowiedz
      </span>
    </div>
  </div>
</div>
<div *ngIf="isAnswerComment">
  <app-comment-write [inputProps]="{targetId:comment.targetId, type:comment.type, isAnswer:false, commentAnsweredId:comment.id}"></app-comment-write>
</div>

