<div class="workpiece-setup-box">
  <form class="formGrid" [formGroup]="formModel" (ngSubmit)='submit()'>
    <app-normal-control [controlProp]="{label:'Tytuł', formControl:title}"></app-normal-control>
    <app-text-area-control [controlProp]="{label:'Treść Rozdziału', formControl:file}"></app-text-area-control>
    <button class="button-submit" type="submit">Stwórz</button>
    <!-- <tr>
      <div>E-mail:</div>
      <input type="text" formControlName="email"  />
      <section *ngIf="isWrongData">
        <app-form-validation [isWrong]="email?.errors?.['required']" [message]="messages[0]"></app-form-validation>
      </section>
    </tr>
    <div formGroupName="passwordGroup">
      <tr>
        <div>Password:</div>
        <input type="password" formControlName="psd" />
        <section *ngIf="isWrongData">
          <app-form-validation [isWrong]="password?.errors?.['required']" [message]="messages[2]"></app-form-validation>
          <app-form-validation [isWrong]="password?.errors?.['minlength']" [message]="messages[3]"></app-form-validation>
        </section>
      </tr>
    </div> -->

  </form>
</div>
