/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/solid';
@import '~@fortawesome/fontawesome-free/css/regular';
@import '~@fortawesome/fontawesome-free/css/brands';
@import '~@fortawesome/fontawesome-free/css/brands';

:root {
  /* --background-color:#f5f5f5;
  --base-accent: #ff5722;
  --base-text-color: #000000de;
  --base-bg: #ffffff;
  --base-border-color: #e0e0e0; */
  --base-border-radius: 4px;
  --side-panel-min-width: 60px;
  --base-accent: #36e330;
  --base-accent-hover: #36e330;
  --base-text-color: #ffffff;
  --base-bg: #2a2a2a;
  --base-border-color: #4d4d4d;
  --base-card-color: #4d4d4d;
  --base-danger-color: #f9517e;
  --base-focused-bg-color: #36e330;
  --base-dark-text-color: #2a2a2a;
}


html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, "Helvetica Neue", sans-serif;
}

.background-color{
  background-color: var(--base-bg);
}

.card-color{
  background-color: var(--base-card-color);
}

.border-color{
  background-color: var(--base-border-color);
}

.accent-color{
  color: var(--base-accent);
}

.danger-color{
  color: var(--base-danger-color);
}

.text-color{
  color: var(--base-text-color);
}

.dark-text-color{
  color: var(--base-bg);
}

.content{
  height: 100%;
}

.dx-card{
  background-color: var(--base-border-color);
  color: var(--base-text-color);
}

.dx-item-content{
  color: var(--base-text-color)
}

.dx-popup-content{
  background-color: var(--base-card-color);
  color: var(--base-text-color);
}

.dx-toolbar{
  background-color: var(--base-card-color);
  color: var(--base-text-color);
}

.dx-button.dx-state-focused{
  background-color: var(--base-bg);
  border: solid 2px var(--base-accent);
  color: var(--base-accent);
}

.dx-texteditor-input{
  color: var(--base-text-color);
}

.dx-texteditor{
  border-bottom-color: var(--base-bg);
}

/* .dx-scrollable-content{
  background-color: var(--base-bg);
} */

.dx-fileuploader-input-label{
  color: var(--base-text-color);
  font-size: large;
}

.dx-fileuploader-file-name{
  color: var(--base-text-color);
}

.dx-radiobutton.dx-state-active .dx-radiobutton-icon-checked::after, .dx-radiobutton.dx-state-focused .dx-radiobutton-icon-checked::after{
  background-color: rgba(54,227,48,.1);
  border-color: var(--base-accent);
}

.dx-radiobutton{
  border-color: var(--base-accent);
  color: var(--base-text-color);

}

.dx-radiobutton-icon-checked{
  background-color: var(--base-accent);
  border-color: var(--base-accent);
}

.dx-radiobutton-icon{
  border-color: var(--base-bg);
}

.dx-radiobutton-icon-checked .dx-radiobutton-icon-dot{
  background-color: var(--base-accent)
}

.dx-radiobutton-checked{
  border-color: var(--base-accent);
  color: var(--base-accent);

}

.dx-checkbox.dx-state-active .dx-checkbox-icon-checked::after, .dx-checkbox.dx-state-focused .dx-checkbox-icon-checked::after{
  background-color: rgba(54,227,48,.1);
  border-color: var(--base-accent);
}

.dx-checkbox{
  border-color: var(--base-accent);
  color: var(--base-text-color);
}

.dx-checkbox-icon{
  border-color: var(--base-bg);
}

.dx-checkbox-icon-checked{
  background-color: var(--base-accent);
  border-color: var(--base-accent);
}

.dx-checkbox-checked .dx-checkbox-icon{
  background-color: var(--base-accent)
}

.dx-checkbox-checked{
  border-color: var(--base-accent);
  color: var(--base-accent);

}

.dx-texteditor.dx-state-active::before, .dx-texteditor.dx-state-focused::before{
  border-bottom-color: var(--base-accent);
}

.dx-texteditor-label{
  color: var(--base-text-color);
}

.dx-texteditor.dx-state-focused .dx-texteditor-label, .dx-texteditor.dx-state-focused.dx-state-hover .dx-texteditor-label{
  color: var(--base-accent);
}

.border-curved{
  border-radius: 25px;
}

.dx-texteditor.dx-editor-filled.dx-state-disabled .dx-texteditor-input, .dx-texteditor.dx-editor-filled.dx-state-readonly .dx-texteditor-input, .dx-texteditor.dx-editor-filled.dx-state-readonly.dx-state-hover .dx-texteditor-input{
  color: var(--base-text-color);
}

.dx-context-menu .dx-menu-item{
  color: var(--base-text-color);
}

.dx-icon{
  color: var(--base-accent);
}

.dx-texteditor-input{
  color: var(--base-text-color);
}

.button-normal{
  background-color: var(--base-bg);
  border: solid 2px var(--base-accent);
  color: var(--base-accent);
}

.button-normal:hover{
  background-color: var(--base-accent);
  border: solid 2px var(--base-bg);
  color: var(--base-bg);
}

.clicked-button{
  background-color: var(--base-accent);
  border: solid 2px var(--base-bg);
  color: var(--base-bg);
}

.center-items{
  display: flex;
  justify-content: center;
}

.standard-margin{
  margin: 5px;
}

.button-area{
  margin: 15px;
  display: flex;
  align-items: center;
}
