.workpieceImage{
  width: 150px;
  height: 150px;
}
.workpieceInfoBox{
  width: 200px;
  height: 200px;
}
.workpieceBox{
  width: 400px;
  height: 400px;
  padding: 5px;
  border: 10px solid green;
  background-color: gray;
  align-items: center;
  display: block;
  border-radius: 24px;
}
.workpieceTitle{
  font-size: x-large;
  text-decoration: darkgreen;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
